<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Angular 6 Reactive Form Validation</h2>
                <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">First Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <app-upload-files (addedFiles)="getAddedFiles($event)"></app-upload-files>

                        <div *ngIf="ingredientForm.value.img.length > 0 && ingredientForm.controls.img.valid">
                            <div *ngFor="let img of ingredientForm.value.img">
                                <span>
                                    {{img}}
                                </span>
                            </div>
                        </div>
                        <div *ngIf="submitted && imgError" class="invalid-feedback" style="display: block">
                            <div>Image(s) is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" formControlName="description"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Poids</label>
                        <input type="number" formControlName="weight"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.weight.errors }" />
                        <div *ngIf="submitted && f.weight.errors" class="invalid-feedback">
                            <div *ngIf="f.weight.errors.required">Poids is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" formControlName="price"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors.required">Price is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button *ngIf="!editMode" [disabled]="loading" class="btn btn-primary">Ajouter</button>
                        <button *ngIf="editMode" [disabled]="loading" class="btn btn-primary">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>