<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list style="padding-top: 0;">
      <a mat-list-item [routerLink]="['/', 'pizza' ]" class="navigation-link relative">Pizza</a>
      <a mat-list-item [routerLink]="['/', 'ingredient' ]" class="navigation-link relative">Ingredient</a>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index: 1000;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"> <!-- 
          *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>projet01</span>
    </mat-toolbar>
    
    
    <!-- Add Content Here -->
    <!-- <app-my-dashboard></app-my-dashboard> -->
    <!-- <div class="header-page-perso" style="height: 100px; width: 100%; background-color: aqua; z-index: 1000; position: fixed;">
      blablabalbalabalab
    </div> -->
    <div class="bg-white border-bottom" style="position: sticky; position: -webkit-sticky; top: 64px; z-index: 10000; padding: 10px 15px">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb align-items-center" style="margin-bottom: 0; padding: 0; background-color: white;">
              <li class="breadcrumb-item font-xs"><a href="#">Accueil</a></li>
              <li *ngIf="parent; then multiParent" class="breadcrumb-item active font-xs" [routerLink]="[parentLink]">{{parentTitle}}</li>
              <li aria-current="page" class="breadcrumb-item active navbar-heading">{{heading}}</li>
            </ol>
        </nav>
    </div>

    <ng-template #multiParent>
      <li *ngFor="let title of parent.title; let i = index" class="breadcrumb-item active font-xs">
        <a href="#" [routerLink]="[parent.link[i]]">{{title}}</a>
      </li>
    </ng-template>

    <div class="main-content" >
      <router-outlet></router-outlet>
      <!-- <app-footer></app-footer> -->
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
