<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Angular 6 Reactive Form Validation</h2>
                <form [formGroup]="pizzaForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" formControlName="img"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.img.errors }" />
                        <div *ngIf="submitted && f.img.errors" class="invalid-feedback">
                            <div *ngIf="f.img.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" formControlName="description"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Lattitude</label>
                        <input type="text" formControlName="lat"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lat.errors }" />
                        <div *ngIf="submitted && f.lat.errors" class="invalid-feedback">
                            <div *ngIf="f.lat.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Longitude</label>
                        <input type="text" formControlName="long"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.long.errors }" />
                        <div *ngIf="submitted && f.long.errors" class="invalid-feedback">
                            <div *ngIf="f.long.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="name">Ingredients <span class="text-danger">*</span></label>
                        <ng-select [items]="(ingredients$ | async)" [multiple]="true" [hideSelected]="true" bindLabel="name" typeToSearchText="Entrez du texte"
                        placeholder="Sélectionnez un ingredients" [loading]="isLoading" [typeahead]="ingredientsInput$" notFoundText="Aucun ingredients trouvé ..."
                        formControlName="ingredients">
                    
                            <ng-template ng-option-tmp let-item="item">
                                <div><span [ngOptionHighlight]="search">{{item.name}}</span></div>
                                <small><b>Id : </b> {{item._id}}</small>
                            </ng-template>
                    
                        </ng-select>
                        <app-add-ingredient-modal></app-add-ingredient-modal>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>